.about-info-wrapper{
    display: flex;
    padding-left: 20px;
    padding-top: 50px;
    border-top: 1px dashed white;
}
#btn{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 12px;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    /* font-family: sans-serif; */
    transition: all .5s;
    }

#btn:before{
        width: 100%;
        height: 100%;
        content: '';
        margin: auto;
        position: absolute;
        top:  0%;
        left: 0%;
        background: #cdbf00;
        transition: all .5s;
        z-index: -1;
        
    }
#btn:after{
        width: 100%;
        height: 100%;
        content: '';
        margin: auto;
        position: absolute;
        top:  0%;
        left: 0%;
        background: #cdbf00;
        transition: all .5s;
        z-index: -1;
        
}
#btn:hover{
    border-color: #212121;
}
#btn:hover:before{			
        transform: rotateX(90deg);

}
#btn:hover:after{
        transform: rotateY(90deg);

}
.preinfo-block{
    position: relative;
    height: 500px;
    width: 100%;
    flex-basis: 80%;
}
.left-info-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    border: 1px solid rgb(0, 0, 0);
}
.left-block-text{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.left-block-title{
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}
.left-block-description{
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
}
.background-block{
    z-index: -1;
    position: absolute;  
    width: 100%;
    height: 100%;
    background: white url(../imgs/bgc.png) 50% 50% no-repeat ;
    background-size: cover;
    transition: all 0.5s;
    box-shadow: inset 5px 0px 10px 10px rgba(0, 0, 0, 1);
}
.preinfo-block:hover .background-block{
    filter: brightness(0.3) blur(12px);
}
.about-info{
    position: absolute;
    left:120%; 
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: 100%; */
    width: 80%;
    height: 100%;
    margin: 0 auto;
    gap: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border: 2px dashed white;
    padding: 10px 20px;
    transition: 1s all;
}

.preinfo-block:hover .about-info{
    top: 50%;
    left: 50%;
    display: flex;
}
.about-btn{
    display: inline-block;
    padding: 8px 6px;
    border-radius: 10px;    
    cursor: pointer;

    /* background-color: black; */
}
.about_me-info{
    font-size: 1.1rem;
}
.about_me-preinfo, .about_me-title, .about_me-info, .about_me-perscription{
    color: white;
}
.about_me-title{
    font-size: 1.3rem;

}
@media screen and (max-width: 900px) {
    .about-info-wrapper{
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }
    .preinfo-block{
        flex-basis: 500px;
    }
    .about-info{
        width: 90%;
        height: 100%;
        padding: 20px 10px;
    }
    .about-info p{
        font-size: 1rem;
    }
     .background-block{
        box-shadow: inset 3px 0px 5px 5px rgba(0, 0, 0, 1);
     }
}   