.slider-wrapper{
    box-shadow: 0 0 20px black;
    margin-top: 30px;
}
.slider-wrapper img{
    height: 700px
}
.slider-wrapper h3{
    color: rgb(191, 0, 255);
}
.slider-wrapper p{
    color: rgb(139, 139, 139);
}