/* h1 */
h1 {
    text-align: center;
}

.Container-Skills {
    margin-bottom: 50px;
}

/* Block-skill */
.flex-block-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

span {
    font-size: 1.5em;
    color: white;
}

.Block-skill {
    text-align: center;
    background: #424242;
    padding: 30px 10px 30px 10px;
    border-radius: 10px;
}

.flex-skill {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    padding-top: 20px;
}

.span-skills {
    margin-bottom: 20px;
}

/* solid-px1 */
.solid-px1 {
    position: relative;
    background-color: #1c1c1c;
    margin: 15px 0;
    height: 3px;
    z-index: 0;
    overflow: visible;
}

.solid-white {
    border-bottom: 3px solid white;
    width: 100%;
    animation: solid-white 2s;
}

.solid-white1 {
    border-bottom: 3px solid white;
    width: 90%;
    animation: solid-white1 2s;
}

.solid-white2 {
    border-bottom: 3px solid white;
    width: 75%;
    animation: solid-white2 2s;
}

.solid-white3 {
    border-bottom: 3px solid white;
    width: 70%;
    animation: solid-white3 2s;
}

.solid-white4 {
    border-bottom: 3px solid white;
    width: 50%;
    animation: solid-white4 2s;
}

.solid-white5 {
    border-bottom: 3px solid white;
    width: 70%;
    animation: solid-white4 2s;
}

.solid-white6 {
    border-bottom: 3px solid white;
    width: 50%;
    animation: solid-white4 2s;
}

@keyframes solid-white {

    /*animate html skills*/
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes solid-white1 {

    /*animate css skills*/
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes solid-white2 {

    /*animate javascript skills*/
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes solid-white3 {

    /*animate jquery skills*/
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes solid-white4 {

    /*animate jquery skills*/
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes solid-white5 {

    /*animate jquery skills*/
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes solid-white6 {

    /*animate jquery skills*/
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .flex-block-skills {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .solid-px1 {
        position: relative;
        background-color: #1c1c1c;
        margin: 5px 0;
        height: 3px;
        z-index: 0;
        overflow: visible;
    }
    .Block-skill {
        text-align: center;
        background: #424242;
        padding: 30px 10px 30px 10px;
        border-radius: 10px;
        font-size: 12px;
    }
}

.flex-circle {
    display: flex;
}

.bxs-circle {
    position: relative;
    top: -9px;
    left: -16px;
    color: white;
    font-size: 20px;
}