.grid-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.Block {
    text-align: center;
    color: white;
    background: #424242;
    padding: 30px 10px 30px 10px;
    padding: 50px;
    border-radius: 10px;
}

.Block1 {
    border-radius: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    background: #ffffff;
    padding: 30px 10px 30px 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    padding: 50px;
}

.services-p {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
}

/* i */
.bx-expand-horizontal {
    font-size: 4em;
    padding-bottom: 10px
}

.paint {
    font-size: 4em;
    padding-bottom: 10px;
}

.wordpress {
    font-size: 4em;
    padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .grid-services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}